<%- include('./partials/html-head.ejs') %>
<link rel="stylesheet" href="/stylesheets/loginpage.css" />
<%- include('./partials/nav.ejs') %>

<body>
  <div class="container">
    <section class="left-column">
      <% if (!user) { %>
      <h1>Welcome to Treky!</h1>
      <img src="../public/images/treky.jpg">
      <p class="intro">
        The ultimate companion for nature enthusiasts and badge collectors!
        celebrate each trail conquered and document every moment of your escapades.<br>
        <br> With Treky every hike becomes a story and every badge a trophy.
      </p>

      <p class="log-in-btn">
        <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
        data-prompt_parent_id="g_id_onload"
        ></div>
        <div 
        class="g_id_signin center"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
        ></div>
        <% } %>
      </p>
    </section>
    <div class="right-column">
      <img src="https://i.imgur.com/oHoDzT9.png">
    </div>
  </div>

</body>


  <% if (user?.profile.avatar) { %>
    <div>
        <h1>Welcome Back <%= user ? user.profile.name : "friend" %> !</h1>

        <h1>Got a new expedition to chronicle?</h1>
      <a href="/parks/new">
        <button class = "btn">Trek and Tell</button>
      </a>
    </div>
  <% } %>
</main>

<%- include('./partials/footer.ejs') %>
