<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/edit.css"/>
<%- include('../partials/nav') %>

<h1>
  <img id="update-header" src="https://i.imgur.com/tvaBNHL.png">
</h1>

<form 
  action="/parks/<%= park._id %>?_method=PUT"
  method="POST">
  <div class="container">
    <div class="route-date">
      <div id="route">
        <label>Route:
          <input type="text" name="route" value="<%= park.route %>">
        </label>
      </div>
      <div id="date"> 
        <label>Date:
          <input 
          type="datetime-local" 
          name="date" 
          value="<%= park.date %>"
          min="2000-01-01T00:00"
          max="2099-01-01T00:00">
        </label>
      </div>
    </div>
    <div class="inner-container">
      <div class="left-column">
        <div id="elevation">   
          <label>Elevation:
            <input type="number" name="elevation" value="<%= park.elevation %>">
          </label>
        </div>
        <div id="companionInput"> 
          <label>Companion(s):
            <input type="text" name="companion" value="<%= park.companion %>" >
          </label>
        </div>
        <div id="wildlife"> 
          <label>Wildlife:
            <input type="text" name="wildlife" value="<%= park.wildlife %>">
          </label>
        </div>
        <div id="grub"> 
          <label>Trail Grub:
            <input type="text" name="trailGrub" value="<%= park.trailGrub %>">
          </label> 
        </div>
      </div>
      <div class="right-column">
        <div id="photo-box">
          <label id="img" class="selections">Upload Images:
            <input type="url" name="imageUrls" value= <%= park.imageUrls %> id="photoInput">
          </label>
        </div>
        <div id="content">
          <label>Post:
            <textarea id="content-box" type="text" name="postContent" cols="30" value="<%= park.postContent %>"></textarea>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div id="update-row">
    <button type="submit" id="updateBtn"> Update Post </button>
  </div>
</form>



<%- include('../partials/footer') %>