<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css"/>
<%- include('../partials/nav') %>

<h1 id="park-name"><%= park.parkName %></h1>

<div class="container">

  <div class="route-date">
    <div id="route">Route: <%= park.route %> </div>
    <div id="date"> <%= new Date(park.date).toDateString("en-US") %> </div>
  </div>
  <div class="inner-container">
    <div class="left-column">
      <div id="elevation"> Elevation: <%= park.elevation %> ft</div>
      <div id="companion"> Companions: <%= park.companion %> </div>
      <div id="wildlife"> Wildlife: <%= park.wildlife %> </div>
      <div id="grub"> Trail Grub: <%= park.trailGrub %> </div>
    </div>
    <div class="right-column">
      <div id="photo-box"><img id="photo" src="<%= park.imageUrls %>"></div>
      <div id="content"><%= park.postContent %></div>
    </div>
  </div>

</div>

<!-- edit and delete section  -->
<div class="bottombtns">
  <% if (park.owner.equals(user?.profile._id)) { %>
    <a href="<%= park._id %>/edit">
    <button id="editBtn">Edit</button>
    </a>
    <form action="/parks/<%= park._id %>?_method=DELETE" method="POST">
      <button id="deleteBtn" type="submit">Delete Post</button>
    </form>
  <% } %>
</div>


<div id="comment-header"><h2>Comments</h2></div>

<div id="editCommentContainer">
  <% if (comment.author.equals(user?.profile._id)) { %>
    <form id="editCmtBox" action="/parks/<%= park._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
      <label>
        <br>
        <textarea
          id="editCommentBox"
          cols="30"
          rows="5" 
          type="text"
          name="content" 
          autocomplete="off"
          ><%= comment.content %>
        </textarea>
      </label>
      <br><button type="submit" id="saveComment">Save Comment</button>
    </form>
  <% } %>
</div>


<%- include('../partials/footer') %>