<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<h1>All Adventures</h1>

<ul class="list-of-parks">
<% parks.forEach (park => {%>
  <ul class="eachPost"> <%= park.parkName %> visited on <%= park.date %>
    <br>
    <%= park.postContent %>
  </ul>
<% }) %>
</ul>


  <a href="/parks/new">
    <button>Log new adventure</button>
  </a>



<%- include('../partials/footer') %>