<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('../partials/nav') %>

<h1 id="indexHeader">
<img class="adventuresHeader" src="https://i.imgur.com/wnsmBt3.png">
</h1>


<ul class="list-of-parks">
<% parks.forEach ((park, index) => {%>
  <li class="eachPost">
    <div id="postRow">
      <div id="numbers"> <%= index %></div>
      <a href="/parks/<%= park._id %>">
        <%= park.parkName %> visited on <%= park.date %>
      </a>
    </div>
  </li>
<% }) %>
</ul>


  <a href="/parks/new">
    <button id="logAdventure">Log new adventure</button>
  </a>



<%- include('../partials/footer') %>