<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>showing <%= park._id %></h1>

<h1><%= park.parkName %></h1>
<h3><%= park.date %></h3>
<img src="<%= park.imageUrls %>">
<section>
  <%= park.route %>
  <%= park.elevation %>
  <%= park.companion %>
  <%= park.wildlife %>
  <%= park.trailGrub %>
</section>
<p> <%= park.postContent %></p>

<% if (park.owner.equals(user?.profile._id)) { %>
<a href="<%= park._id %>/edit">
<button>Edit</button>
</a>
<form action="/parks/<%= park._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete Post</button>
</form>
<% } %>

<h2>Comments</h2>
<ul>
  <% park.comments?.forEach(comment => { %>
    <li class="eachComment">
      <%= comment.content %> - <%= comment.author.name %>
      -&nbsp; 
        <img 
          class="comment-photo" 
          src="<%= comment.author.avatar %>" 
          alt="avatar of commenter"
        > 
        <%= comment.author.name %>
        &nbsp;at 
        <%= comment.createdAt.toLocaleString() %>
        <% if (comment.author.equals(user?.profile._id)) { %>
          <br>
          <a href="/parks/<%= park._id %>/comments/<%= comment._id %>/edit">
            <button class="btn">Edit Comment</button>
          </a>
          <form 
            action="/parks/<%= park._id %>/comments/<%= comment._id %>?_method=DELETE" 
            method="POST"
          >
            <button class="btn" type="submit">Delete Comment</button>
          </form>
        <% } %> 
    </li> 
  <% }) %>
</ul>

<% if (user) { %>
  <h3>Add a comment</h3>
  <form action="/parks/<%= park._id %>/comments" method="POST">
    <textarea name="content"></textarea><br>
    <button type="submit">Add Comment</button>
  </form>
<% } %>


<%- include('../partials/footer') %>