<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css"/>
<%- include('../partials/nav') %>

<h1 id="park-name"><%= park.parkName %></h1>

<div class="container">

  <div class="route-date">
    <div id="route">Route: <%= park.route %> </div>
    <div id="date"> <%= new Date(park.date).toDateString("en-US") %> </div>
  </div>
  <div class="inner-container">
    <div class="left-column">
      <div id="elevation"> Elevation: <%= park.elevation %> ft</div>
      <div id="companion"> Companions: <%= park.companion %> </div>
      <div id="wildlife"> Wildlife: <%= park.wildlife %> </div>
      <div id="grub"> Trail Grub: <%= park.trailGrub %> </div>
    </div>
    <div class="right-column">
      <div id="photo-box"><img id="photo" src="<%= park.imageUrls %>"></div>
      <div id="content"><%= park.postContent %></div>
    </div>
  </div>

</div>


<div class="bottombtns">
  <% if (park.owner.equals(user?.profile._id)) { %>
    <a href="<%= park._id %>/edit">
    <button id="editBtn">Edit</button>
    </a>
    <form action="/parks/<%= park._id %>?_method=DELETE" method="POST">
      <button id="deleteBtn" type="submit">Delete Post</button>
    </form>
  <% } %>
</div>


<!-- comments section  -->
<h2>Comments</h2>
<ul>
  <% park.comments?.forEach(comment => { %>
    <li class="eachComment">
      <%= comment.content %> - <%= comment.author.name %>
      -&nbsp; 
        <img 
          class="comment-photo" 
          src="<%= comment.author.avatar %>" 
          alt="avatar of commenter"
        > 
        <%= comment.author.name %>
        &nbsp;at 
        <%= comment.createdAt.toLocaleString() %>
        <% if (comment.author.equals(user?.profile._id)) { %>
          <br>
          <a href="/parks/<%= park._id %>/comments/<%= comment._id %>/edit">
            <button id="editBtn">Edit Comment</button>
          </a>
          <form 
            action="/parks/<%= park._id %>/comments/<%= comment._id %>?_method=DELETE" 
            method="POST"
          >
            <button id="deleteBtn" type="submit">Delete Comment</button>
          </form>
        <% } %> 
    </li> 
  <% }) %>
</ul>

<% if (user) { %>
  <h3>Add a comment</h3>
  <form action="/parks/<%= park._id %>/comments" method="POST">
    <textarea name="content"></textarea><br>
    <button id="addComment" type="submit">Add Comment</button>
  </form>
<% } %>


<%- include('../partials/footer') %>