<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/show.css"/>
<%- include('../partials/nav') %>

<h1 id="park-name"><%= park.parkName %></h1>

<div class="container">

  <div class="route-date">
    <div id="route">Route: <%= park.route %> </div>
    <div id="date"> <%= new Date(park.date).toDateString("en-US") %> </div>
  </div>
  <div class="inner-container">
    <div class="left-column">
      <div id="elevation"> Elevation: <%= park.elevation %> ft</div>
      <div id="companion"> Companions: <%= park.companion %> </div>
      <div id="wildlife"> Wildlife: <%= park.wildlife %> </div>
      <div id="grub"> Trail Grub: <%= park.trailGrub %> </div>
    </div>
    <div class="right-column">
      <div id="photo-box"><img id="photo" src="<%= park.imageUrls %>"></div>
      <div id="content"><%= park.postContent %></div>
    </div>
  </div>

</div>

<!-- edit and delete section  -->
<div class="bottombtns">
  <% if (park.owner.equals(user?.profile._id)) { %>
    <a href="<%= park._id %>/edit">
    <button id="editBtn">Edit</button>
    </a>
    <form action="/parks/<%= park._id %>?_method=DELETE" method="POST">
      <button id="deleteBtn" type="submit">Delete Post</button>
    </form>
  <% } %>
</div>


<!-- comments section  -->
<div id="comment-container">
    <div id="comment-header"><h2>Comments</h2></div>
    <ul>
      <% park.comments?.forEach(comment => { %>
        <ul class="eachComment">
          <div id="commentOnly">
            <div id="commentInfo">
              <div>
                <%= comment.author.name %> at 
                <%= comment.createdAt.toLocaleString() %>
              </div>
              <div id="commentBtns">
                  <div id="e-d-btn">
                    <% if (comment.author.equals(user?.profile._id)) { %>
                    <a href="/parks/<%= park._id %>/comments/<%= comment._id %>/edit">
                      <button id="editBtnCom"><i class="fas fa-pen fa-xs"></i></button>
                    </a>
                    <form 
                      action="/parks/<%= park._id %>/comments/<%= comment._id %>?_method=DELETE" 
                      method="POST"
                    >
                      <button id="deleteBtnCom" type="submit">X</button>
                    </form>
                  <% } %>
                  </div>  
              </div>
            </div>
            <div id="commentContent">
              <%= comment.content %>
            </div>
          </div>
          
        </ul> 
      <% }) %>
    </ul>

</div>

<div id="bottom-create-comments">
<% if (user) { %>
  <div id="add-comment"><h3>Add a comment</h3></div>
  <div id="input-comment">
    <form action="/parks/<%= park._id %>/comments" method="POST" id="comment-form">
      <textarea name="content" id="input-box"></textarea><br>
      <button id="addComment" type="submit">Add Comment</button>
    </form>
  </div>
<% } %>
</div>


<%- include('../partials/footer') %>