<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>showing <%= park._id %></h1>

<h1><%= park.parkName %></h1>
<h3><%= park.date %></h3>
<section>
  <%= park.route %>
  <%= park.elevation %>
  <%= park.companion %>
  <%= park.wildlife %>
  <%= park.trailGrub %>
</section>
<p> <%= park.postContent %></p>

<% if (park.owner.equals(user?.profile._id)) { %>
<a href="<%= park._id %>/edit">
<button>Edit</button>
</a>
<form action="/parks/<%= park._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete Post</button>
</form>
<% } %>

<% if (park.owner.equals(user?.profile._id)) { %>


<% } %>


<%- include('../partials/footer') %>